#doc-text{
    float:left;
    width:70%;
    padding: 3pt;
    box-sizing: border-box;
    border: 1px solid black;
    overflow-wrap: break-word;
}


#doc-text div{
    display: inline;
}


#summary-text{
    float:right;
    width:29.9%;
    padding: 3pt;
    box-sizing: border-box;
    border: 1px solid black;
    overflow-wrap: break-word;
}

#summary-text div{
    display: inline;
}

.underlined-word{
    text-decoration: underline;
}

.boldfaced-word{
    font-weight:900;
}

.highlighted-word{
    background-color: yellow;
}

.shadowed-word{
    text-shadow: .03em .03em 0 hsl(200 50% 30%);
}


.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }

