.StartPageBody{
	min-height: 100vh;
	position: relative;
    width:100%;
	margin: 0;
}

.StartPageBody .StartPageText{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	width:60%;
	top:5%;
	background-color: lightgray;
	padding: 0% 2%;
}


.StartPageText #StartPageTitle{
	font-size: 70px;
}

.StartPageText #StartPageContent{
	font-size: 25px;
	margin-bottom: 20%;
}

.StartPageBody #ButtonGroupBox{
	position: absolute;
	bottom:5%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

#ButtonGroupBox .StartPageButton{
	margin:1%;
	height: 90px;
	width: 130px;
	border-radius: 10%;
}



#startPageAppBar{
	background-color: whitesmoke;
	color: gray;
	border-color: lightgray;
}



.StartPageButton{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3f51b5;
	color:white;
	font-size: 50px;
	padding: 3%;
	border-radius: 6%;
	text-decoration: none;
	margin: 20px;
}

#instructionStartButton{
	position: absolute;
	top:150px;
	left:50px
}

#guidedAnnotationStartButton{
	position: absolute;
	top:150px;
	left: 490px;
}

#annotationStartButton{
	position: absolute;
	top:150px;
	right:50px;
}
